
/*--- CONTENIDO PRINCIPAL ---*/
.modal-header {
    background-color: #7B7B7B;
    color: white
}

.modal-footer {
    background-color: #222222 !important;
}
/*--- Cards de información ---*/
.card_modal {
    border: none !important;
}

.card-title, .card_resumen {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub_descripcion {
    list-style: circle;
}

#costo_unitario, #costo_total, #cantidad_total {
    font-weight: bold;
}

/*--- Estilos específicos de listas ---*/

#tipoTarima , #subtipoTarima, #acomodoTarima, #tamGral {
    list-style: none;
    font-weight: bold;
}

#distTS {
    list-style: none;
}

.tolerancia {
    font-size: small;
}

/*--- Logo en pantalla por defecto ---*/
#logo_main {
    opacity: 0.7;
}


@media (max-width: 768px) {
  #logo_modal {
    display: none !important;
  }
}
