
/*--- CONTENIDO PRINCIPAL ---*/
.modal-header {
    background-color: #7B7B7B;
    color: white
}

.modal-footer {
    background-color: #222222 !important;
}
/*--- Cards de información ---*/
.card_modal {
    border: none !important;
}

.card-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sub_descripcion {
    list-style: circle;
}

#costo_unitario {
    font-weight: bold;
}

/*--- Estilos específicos de listas ---*/

#tipoTarima , #subtipoTarima,#acomodoTarima, #tamGral{
    list-style: none;
    font-weight: bold;
}

/*--- Logo en pantalla por defecto ---*/
#logo_main {
    opacity: 0.7;
}
