body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}

/*--- BARRA DE RELLENO SUPERIOR ---*/
#top_bar {
    background-color: #8FC74A;
    height: 38.4px;
}

/*--- BARRA DE NAVEGACION PRINCIPAL ---*/
#nav_principal {
    background-color: #7B7B7B;
    border: 1px solid white;
    height: 74.8px;
    padding: 0px 50px 0px 40px;
}

#nav_logo {
    padding: 10px   
}

.nav {
    display: none !important;
}

/*--- BARRA DE NAVEGACION SECUNDARIO ---*/

#nav_secundario {
    background-color: #F5F5F5;
}

.fin {
    width: 50px;
}

/* Marco del PDF */
#pdfPreview {
    border: 1px solid white !important;
    border-radius: 10px !important;
    animation: fadeInUp 0.8s ease;
}

/* Animación de entrada */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*--- FOOTER ---*/

#site_footer {
    background-color: #222222;
}

#texto_footer {
    color: white;
}


@media (max-width: 768px) {
  #btn_regresar {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin-left: 16px !important;
  }
}
   
@media (max-width: 768px) {
  #btn_aceptar {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin-right: 16px !important;
  }
}