#top-bar {
    background-color: #8FC74A;
    height: 38.4px;
}

/*--- nav principal ---*/
#nav-pr {
    background-color: #7B7B7B;
    border: 1px solid white;
    height: 74.8px;
    padding: 0px 50px 0px 40px;
}

#nav-logo {
    padding: 10px   
}

#nav-op1 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#nav-op3 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/*--- nav secundario ---*/

#nav-sec {
    background-color: #F5F5F5;
}

#btn-sig {
    border: 1px solid #7B7B7B;
    color: black;
}

.card {
    border: none !important;
}

.card-title {
    border-top: 1px solid black;
    padding-top: 5px;
}

.card-text {
    border-top: 1px solid black;
}

/*--- footer ---*/

#site-footer {
    background-color: #222222;
}

#foot-txt {
    color: white;
}